body {
    margin: 0;
    padding: 10vh 0 2vh 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: #0b1522;
    flex-direction: column;
}

.heart {
    height: 70px;
    width: 70px;
    background: #f20044;
    transform: rotate(-45deg);
    box-shadow: -10px 10px 90px #f20044;
    animation: heart 0.8s linear infinite;
}

@keyframes heart {
    0% {
        transform: rotate(-45deg) scale(1.07);
    }
    80% {
        transform: rotate(-45deg) scale(1);
    }
    100% {
        transform: rotate(-45deg) scale(0.8);
    }
}

.heart::before {
    content: '';
    position: absolute;
    height: 70px;
    width: 70px;
    background: #f20044;
    top: -50%;
    border-radius: 50px;
    box-shadow: -10px -10px 90px #f20044;
}

.heart::after {
    content: '';
    position: absolute;
    height: 70px;
    width: 70px;
    background: #f20044;
    right: -50%;
    border-radius: 50px;
    box-shadow: -10px -10px 90px #f20044;
}

h1 {
    color: aliceblue;
    text-align: center;
    margin: 50px;
}

h3 {
    width: 50%;
    color: aliceblue;
    text-align: left;
    font-style: oblique;
    font-weight: lighter;
}

